<a href="{{product.link}}" class='sale-slide'>
	<span>-{{product.discount}}%</span>
	<div class='sale-image'>
		<img src="{{ product.previewMediaUrl }}" alt='img' />
	</div>
	<div class='sale-description'>
		<p>{{ product.translate.name }}</p>
		<p>{{ product.price}} грн</p>
	</div>
</a>